<div class="search-form mt-4">
  <form method="POST">
    <div class="form-group">
      <label for="search-input">Your Keyword</label>
      <input
        name="q"
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Enter keyword to search"
      />
    </div>
    <div class="form-group">
      <label for="gender-input">Your Gender</label>
      <select
        name="gender"
        class="form-control"
        id="gender-input"
      >
        <option value="">--Choose it--</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>